In [161]:
#Importing libraries
import numpy as np
import pandas as pd

In [162]:
#Reading the dataset
df=pd.read_csv('inhibitors1.csv')

In [163]:
#Reading the dataset
df1=pd.read_csv('activators.csv')

In [164]:
print(df.head())
print(df1.head())

   ReadIn_ID  USER_ID  D001  D002  D003  D004  D005  D006  D007  D008  ...  \
0          1      NaN     1     0     0     1     1     0     0     0  ...
1          2      NaN     2     0     0     1     2     0     0     0  ...
2          3      NaN     1     0     0     1     1     0     0     0  ...
3          4      NaN     1     0     0     0     2     0     0     0  ...
4          5      NaN     1     0     0     0     2     0     0     0  ...

   D769  D770  D771  D772  D773   D774   D775   D776   D777  Indicator
0     0     0     0     0     0  4.755  0.515  0.286  1.739          0
1     0     0     0     0     0  5.000  0.384  0.522  1.500          0
2     0     0     0     0     0  4.459  0.636  0.375  0.747          0
3     0     0     0     0     0  4.392  0.460  0.353  1.727          0
4     0     0     0     0     0  4.700  0.546  0.316  1.137          0

[5 rows x 780 columns]
   ReadIn_ID  USER_ID  D001  D002  D003  D004  D005  D006  D007  D008  ...  \
0          1      NaN     2     0     0     0     3     0     0     0  ...
1          2      NaN     2     0     0     0     3     0     0     0  ...
2          3      NaN     1     0     0     1     2     0     0     0  ...
3          4      NaN     1     0     0     0     3     0     0     0  ...
4          5      NaN     1     0     0     1     2     0     0     0  ...

   D769  D770  D771  D772  D773   D774   D775   D776   D777  Indicator
0     0     0     0     0     0  5.129 -0.686  0.480  1.489          1
1     0     0     0     0     0  5.087 -0.717  0.500  1.099          1
2     0     0     0     0     0  4.858 -0.640  0.273  2.281          1
3     0     0     0     0     0  5.000  0.354  0.250  1.427          1
4     0     0     0     0     0  5.209 -0.249  0.200  1.261          1

[5 rows x 780 columns]

In [165]:
#Independent variable
inhibitors = df.drop(columns = ['ReadIn_ID', 'USER_ID'])
activators = df1.drop(columns = ['ReadIn_ID', 'USER_ID'])

In [166]:
print(inhibitors.head())
print(activators.head())

   D001  D002  D003  D004  D005  D006  D007  D008  D009  D010  ...  D769  \
0     1     0     0     1     1     0     0     0     0     0  ...     0
1     2     0     0     1     2     0     0     0     0     0  ...     0
2     1     0     0     1     1     0     0     0     0     0  ...     0
3     1     0     0     0     2     0     0     0     0     0  ...     0
4     1     0     0     0     2     0     0     0     0     0  ...     0

   D770  D771  D772  D773   D774   D775   D776   D777  Indicator
0     0     0     0     0  4.755  0.515  0.286  1.739          0
1     0     0     0     0  5.000  0.384  0.522  1.500          0
2     0     0     0     0  4.459  0.636  0.375  0.747          0
3     0     0     0     0  4.392  0.460  0.353  1.727          0
4     0     0     0     0  4.700  0.546  0.316  1.137          0

[5 rows x 778 columns]
   D001  D002  D003  D004  D005  D006  D007  D008  D009  D010  ...  D769  \
0     2     0     0     0     3     0     0     0     0     0  ...     0
1     2     0     0     0     3     0     0     0     0     0  ...     0
2     1     0     0     1     2     0     0     0     0     0  ...     0
3     1     0     0     0     3     0     0     0     0     0  ...     0
4     1     0     0     1     2     0     0     0     0     0  ...     0

   D770  D771  D772  D773   D774   D775   D776   D777  Indicator
0     0     0     0     0  5.129 -0.686  0.480  1.489          1
1     0     0     0     0  5.087 -0.717  0.500  1.099          1
2     0     0     0     0  4.858 -0.640  0.273  2.281          1
3     0     0     0     0  5.000  0.354  0.250  1.427          1
4     0     0     0     0  5.209 -0.249  0.200  1.261          1

[5 rows x 778 columns]

In [167]:
display(inhibitors.shape,activators.shape)

(1165, 778)

(715, 778)

In [168]:
#Merging data
data = pd.concat([inhibitors, activators])
data.shape

(1880, 778)

In [169]:
data.head()

,D001,D002,D003,D004,D005,D006,D007,D008,D009,D010,...,D769,D770,D771,D772,D773,D774,D775,D776,D777,Indicator
0,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,4.755,0.515,0.286,1.739,0
1,2,0,0,1,2,0,0,0,0,0,...,0,0,0,0,0,5.000,0.384,0.522,1.500,0
2,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,4.459,0.636,0.375,0.747,0
3,1,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,4.392,0.460,0.353,1.727,0
4,1,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,4.700,0.546,0.316,1.137,0

In [170]:
#Independent variables
x = data.drop(['Indicator'], axis=1)

In [171]:
#Dependent variables
y = data['Indicator']

In [172]:
#print(data.describe())

In [173]:
#y.head()

In [174]:
#Importing train_test_split function
from sklearn.model_selection import train_test_split

In [175]:
#Dividing data into train and test sets
#train_x, test_x, train_y, test_y = train_test_split(x,y, random_state = 101, stratify = y)
train_x, rem_x, train_y, rem_y = train_test_split(x,y, train_size = 0.3)

In [176]:
train_x, valid_x, train_y, valid_y = train_test_split(x,y, test_size = 0.3)

In [177]:
train_x.head()

,D001,D002,D003,D004,D005,D006,D007,D008,D009,D010,...,D768,D769,D770,D771,D772,D773,D774,D775,D776,D777
527,2,0,0,1,2,0,0,0,0,0,...,0,0,1,0,0,0,5.209,-0.722,0.429,1.926
1000,1,0,0,1,2,0,0,0,0,0,...,0,0,0,0,0,0,4.907,-0.610,0.261,0.852
571,1,0,0,2,2,0,0,0,0,0,...,0,0,0,0,0,0,5.358,-0.265,0.188,0.045
594,2,0,0,1,4,0,0,0,0,0,...,0,0,0,0,0,0,5.285,-0.830,0.414,3.992
1087,1,0,0,2,3,0,0,0,0,0,...,0,0,0,0,0,0,5.459,-0.785,0.182,2.128

## Decision Tree

In [178]:
#Importing AdaBoost Classifier
from sklearn.ensemble import AdaBoostClassifier

In [179]:
#Creating an AdaBoost Instance
clf = AdaBoostClassifier(n_estimators=50, learning_rate=1, random_state=0)

model1 = clf.fit(train_x, train_y)

y_prediction = model1.predict(test_x)

In [180]:
#clf.score(test_x, test_y)

In [181]:
#import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import accuracy_score

# calculate and print model accuracy
print("AdaBoost Classifier Model Accuracy:", accuracy_score(test_y, y_prediction))

AdaBoost Classifier Model Accuracy: 0.9308510638297872

## RandomForest

In [132]:
from sklearn.ensemble import RandomForestClassifier
clf1 = AdaBoostClassifier(random_state=96, base_estimator=RandomForestClassifier(random_state = 101), n_estimators=150, learning_rate=1)

model2 = clf1.fit(train_x, train_y)

y_prediction2 = model2.predict(test_x)

In [151]:
# calculate and print model accuracy
print("AdaBoost Classifier with RadomForest Model Accuracy:", accuracy_score(test_y, y_prediction2))

AdaBoost Classifier with RadomForest Model Accuracy: 0.9609929078014184

## SVM

In [158]:
#Evaluating the model using svc base estimator
from sklearn import svm

# import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import accuracy_score
#svc = SVC(probability = True, kernel = 'linear')

# create adaboost classifer object
clf1 = AdaBoostClassifier(svm.SVC(kernel='linear', gamma='auto', C=2), n_estimators=50, learning_rate=1.0, algorithm='SAMME')
#clf1 = AdaBoostClassifier(svm.SVC(probability=True,kernel='linear'), n_estimators=50, learning_rate=1.0, algorithm='SAMME')
#clf1 = SVMEnsemble(n_estimators=20, **params)

In [160]:
# train adaboost classifier
#model2 = clf1.fit(train_x, train_y)

In [ ]:
# predict the response for test dataset
y_prediction2 = model2.predict(test_x)

In [ ]:
# calculate and print model accuracy
print("Model Accuracy with SVC Base Estimator:", accuracy_score(y_test, y_pred))